################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DynamicApplicationCP/.vs/DynamicApplicationCP
/DynamicApplicationCP/DynamicApplicationCP/bin/Debug/net8.0
/DynamicApplicationCP/DynamicApplicationCP/obj
/DynamicApplicationCP/.vs/ProjectEvaluation
/DynamicApplicationCP/DynamicApplicationCP.Test/bin/Debug/net8.0
/DynamicApplicationCP/DynamicApplicationCP.Test/obj
